/* Change the text, font-weight, and letter spacing for a logo */
.logo {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Change the background and border color for a nav item and navbar-brand on hover */
.nav-item:hover,
.navbar-brand:hover {
  background-color: lightgray; /* Hover background color */
  border-color: white; /* Hover border color */
}

/* Media queries */

@media screen and (min-width: 320px) {
  .column-heading-3 {
    font-size: 1rem;
  }
  .column-heading-4 {
    font-size: 0.875rem;
  }
  .column-heading-6,
  .paragraph {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .column-heading-3 {
    font-size: 1.25rem;
  }
  .column-heading-4 {
    font-size: 1rem;
  }
  .column-heading-6,
  .paragraph {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 992px) {
  .column-heading-3 {
    font-size: 1.5rem;
  }
  .column-heading-4 {
    font-size: 1.25rem;
  }
  .column-heading-6,
  .paragraph {
    font-size: 1rem;
  }
}
