/* Change the text, font-weight, and letter spacing for a logo */
.logo {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Change the background and border color for a nav item and navbar-brand on hover */
.nav-item:hover,
.navbar-brand:hover {
  background-color: lightgray; /* Hover background color */
  border-color: white; /* Hover border color */
}
